<!DOCTYPE html>
<html>
<head>
	<title>Preferences</title>
</head>
<body>
	<h1>Preferences</h1>
	<p>
		Choose your preferences for where you want to go today: <br/>
		Food<input type="checkbox" name="foodBox" id="foodBox">	<br/>
		Art & Culture<input type="checkbox" name="artBox" id="artBox">	<br/>
		Entertainment<input type="checkbox" name="entBox" id="entBox">	<br/>
		Shopping<input type="checkbox" name="shopBox" id="shopBox">	<br/>
		<input type="button" name="Go!" id="buttonGo">

	</p>

</body>
</html>